<a href="https://colab.research.google.com/github/mikhael2104/Algoritma_dan_Pemrograman/blob/main/Jobsheet_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PRAKTIKUM 1 - PENGENALAN VARIABEL & TIPE DATA

In [1]:
#Integer
umur = 18
print("Umur:", umur, "->", type(umur))

#Float
tinggi = 173.5
print("Tinggi:", tinggi, "->", type(tinggi))

#String
nama = 173.5
print("Nama:", nama, "->", type(nama))

#Boolean
is_mahasiswa = True
print("Status Mahasiswa:", is_mahasiswa, "->", type(is_mahasiswa))

#List
nilai = [80, 95, 100]
print("Nilai:", nilai, "->", type(nilai))

#Tuple
koordinat = (10, 20)
print("Koordinat:", koordinat, "->", type(koordinat))

#Dictionary
mahasiswa = {"nama" : "Mikhael", "umur" : "18", "prodi" : "TRK" }
print("Data Mahasiswa:", mahasiswa, "->", type(mahasiswa))

#SET
hobi = {"Membaca", "Bermain", "Musik"}
print("Hobi:", hobi, "->", type(hobi))

Umur: 20 -> <class 'int'>

# New Section