<a href="https://colab.research.google.com/github/mikhael2104/Algoritma_dan_Pemrograman/blob/main/Jobsheet_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PRAKTIKUM 1 - PENGENALAN VARIABEL & TIPE DATA

In [1]:
#Integer
umur = 18
print("Umur:", umur, "->", type(umur))

#Float
tinggi = 173.5
print("Tinggi:", tinggi, "->", type(tinggi))

#String
nama = 173.5
print("Nama:", nama, "->", type(nama))

#Boolean
is_mahasiswa = True
print("Status Mahasiswa:", is_mahasiswa, "->", type(is_mahasiswa))

#List
nilai = [80, 95, 100]
print("Nilai:", nilai, "->", type(nilai))

#Tuple
koordinat = (10, 20)
print("Koordinat:", koordinat, "->", type(koordinat))

#Dictionary
mahasiswa = {"nama" : "Mikhael", "umur" : "18", "prodi" : "TRK" }
print("Data Mahasiswa:", mahasiswa, "->", type(mahasiswa))

#SET
hobi = {"Membaca", "Bermain", "Musik"}
print("Hobi:", hobi, "->", type(hobi))

Umur: 18 -> <class 'int'>
Tinggi: 173.5 -> <class 'float'>
Nama: 173.5 -> <class 'float'>
Status Mahasiswa: True -> <class 'bool'>
Nilai: [80, 95, 100] -> <class 'list'>
Koordinat: (10, 20) -> <class 'tuple'>
Data Mahasiswa: {'nama': 'Mikhael', 'umur': '18', 'prodi': 'TRK'} -> <class 'dict'>
Hobi: {'Musik', 'Membaca', 'Bermain'} -> <class 'set'>

# Praktikum 2 - Input dan Output Dasar

In [2]:
#input string
nama = input("Masukkan nama Mu: ")

#input int
umur = int(input("Masukkan umur Mu: "))

#input tipe float
tinggi = float(input("Masukkan Tinggi Mu: "))

#output standar
print ("Halo,", nama, "Umur Anda", umur, "Dengan tinggi:", tinggi, "cm")

#output dengan format()
print("halo {0}, umur anda {1}, tinggi {2} cm".format(nama, umur, tinggi))

#output dengan f-string
print(f"Halo {nama}, umur {umur} tahun, tinggi {tinggi} cm")

Masukkan nama Mu: Mikhael
Masukkan umur Mu: 18
Masukkan Tinggi Mu: 173
Halo, Mikhael Umur Anda 18 Dengan tinggi: 173.0 cm
halo Mikhael, umur anda 18, tinggi 173.0 cm
Halo Mikhael, umur 18 tahun, tinggi 173.0 cm

# Praktikum 3 - Operator Aritmatika

In [4]:
a = int(input("Masukkan angka 1: "))
b = int(input("Masukkan angka 2: "))

print("a + b =", a + b)
print("a - b =", a - b)
print("a * b =", a * b)
print("a / b =", a / b)
print("a // b =", a // b)
print("a ** b =", a ** b)

print("Hasilnya, Python bisa melakukan operator sederhana")

Masukkan angka 1: 10
Masukkan angka 2: 5
a + b = 15
a - b = 5
a * b = 50
a / b = 2.0
a // b = 2
a ** b = 100000
Hasilnya, Python bisa melakukan operator sederhana

# Praktikum 4 - Operator Rasional