<a href="https://colab.research.google.com/github/mikhael2104/Algoritma_dan_Pemrograman/blob/main/Jobsheet_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PRAKTIKUM 1 - PENGENALAN VARIABEL & TIPE DATA

In [ ]:
#Integer
umur = 18
print("Umur:", umur, "->", type(umur))

#Float
tinggi = 173.5
print("Tinggi:", tinggi, "->", type(tinggi))

#String
nama = 173.5
print("Nama:", nama, "->", type(nama))

#Boolean
is_mahasiswa = True
print("Status Mahasiswa:", is_mahasiswa, "->", type(is_mahasiswa))

#List
nilai = [80, 95, 100]
print("Nilai:", nilai, "->", type(nilai))

#Tuple
koordinat = (10, 20)
print("Koordinat:", koordinat, "->", type(koordinat))

#Dictionary
mahasiswa = {"nama" : "Mikhael", "umur" : "18", "prodi" : "TRK" }
print("Data Mahasiswa:", mahasiswa, "->", type(mahasiswa))

#SET
hobi = {"Membaca", "Bermain", "Musik"}
print("Hobi:", hobi, "->", type(hobi))

Umur: 18 -> <class 'int'>
Tinggi: 173.5 -> <class 'float'>
Nama: 173.5 -> <class 'float'>
Status Mahasiswa: True -> <class 'bool'>
Nilai: [80, 95, 100] -> <class 'list'>
Koordinat: (10, 20) -> <class 'tuple'>
Data Mahasiswa: {'nama': 'Mikhael', 'umur': '18', 'prodi': 'TRK'} -> <class 'dict'>
Hobi: {'Musik', 'Membaca', 'Bermain'} -> <class 'set'>

# Praktikum 2 - Input dan Output Dasar

In [ ]:
#input string
nama = input("Masukkan nama Mu: ")

#input int
umur = int(input("Masukkan umur Mu: "))

#input tipe float
tinggi = float(input("Masukkan Tinggi Mu: "))

#output standar
print ("Halo,", nama, "Umur Anda", umur, "Dengan tinggi:", tinggi, "cm")

#output dengan format()
print("halo {0}, umur anda {1}, tinggi {2} cm".format(nama, umur, tinggi))

#output dengan f-string
print(f"Halo {nama}, umur {umur} tahun, tinggi {tinggi} cm")

Masukkan nama Mu: Mikhael
Masukkan umur Mu: 18
Masukkan Tinggi Mu: 173
Halo, Mikhael Umur Anda 18 Dengan tinggi: 173.0 cm
halo Mikhael, umur anda 18, tinggi 173.0 cm
Halo Mikhael, umur 18 tahun, tinggi 173.0 cm

# Praktikum 3 - Operator Aritmatika

In [ ]:
a = int(input("Masukkan angka 1: "))
b = int(input("Masukkan angka 2: "))

print("a + b =", a + b)
print("a - b =", a - b)
print("a * b =", a * b)
print("a / b =", a / b)
print("a // b =", a // b)
print("a ** b =", a ** b)

print("Hasilnya, Python bisa melakukan operator sederhana")

Masukkan angka 1: 10
Masukkan angka 2: 5
a + b = 15
a - b = 5
a * b = 50
a / b = 2.0
a // b = 2
a ** b = 100000
Hasilnya, Python bisa melakukan operator sederhana

# Praktikum 4 - Operator Rasional

In [1]:
x = 10
y = 20

print ("x == y", x == y)
print ("x != y", x != y)
print ("x < y", x < y)
print ("x > y", x > y)
print ("x <= y", x <= y)
print ("x >= y", x >= y)

x == y False
x != y True
x < y True
x > y False
x <= y True
x >= y False

# Praktikum 5 - Operator Logika dengan Studi Kasus Nyata

In [3]:
#Operator Logika Dasar
a = True
b = False

print ("a and b", a and b)
print ("a or b", a or b)
print ("not a", not a)

#Studi kasus nyata
nilai = int(input("Masukkan nilai ujian: "))
hadir = int(input("Masukkan jumlah kehadiran: "))

lulus_nilai = nilai >= 75
lulus_hadir = hadir >= 12 #dari 20 pertemuan

if lulus_nilai and lulus_hadir:
  print("Status: Lulus")
else:
  print("Status: Coba lagi SMT Depan")

a and b False
a or b True
not a False
Masukkan nilai ujian: 80
Masukkan jumlah kehadiran: 10
Status: Coba lagi SMT Depan

# Praktikum 6 - Program Kasir Sederhana

In [4]:
barang = input("Masukkan nama barang: ")
harga = float(input("Masukkan harga barang: "))
jumlah = int(input("Masukkan jumlah barang: "))

total = harga * jumlah

#aturan diskon
if total > 500000:
  diskon = 0.2
elif total >= 250000:
  diskon = 0.1
else:
  diskon = 0

potongan = total * diskon
bayar = total - potongan

print("\n===== Struk Belanja =====")
print(f"Barang : {barang}")
print(f"Jumlah : {jumlah}")
print(f"Total : Rp {total}")
print(f"Diskon : {diskon * 100}%")
print(f"Bayar : Rp {bayar}")

Masukkan nama barang: Sabun
Masukkan harga barang: 10000
Masukkan harga barang: 100

===== Struk Belanja =====
Barang : Sabun
Jumlah : 100
Total : Rp 1000000.0
Diskon : 20.0%
Bayar : Rp 800000.0

# Bagian Baru