<a href="https://colab.research.google.com/github/mikhael2104/Algoritma_dan_Pemrograman/blob/main/Jobsheet_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Jobsheet 04**

# Praktikum 1 - Perulangan For dengan Range

In [ ]:
for i in range (1, 6):
  print(i)

1
2
3
4
5

# Praktikum 2 - Perulangan While

In [ ]:
n = int(input("Masukkan angkka: "))

while n > 0:
  print(n)
  n -= 1

Masukkan angkka: 5
5
4
3
2
1

# Praktikum 3 - Nested Loop (Segitiga Bintang)

In [ ]:
for i in range(1, 6):
  for j in range(i):
    print("*", end="")
  print()

*
**
***
****
*****

# Praktikum 4 - Break and Continue

In [ ]:
for i in range (1, 11):
  if i == 11:
      break
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(1, 6):
  if i % 2 == 1:
    continue
  print(i)

2
4

# Praktikum 5 - For pada Dictionary

In [ ]:
data = {"Nama" : "Andi", "Umur" : "20", "Prodi" : "TRK"}
for k, v in data.items():
  print (k, ":" ,v)

Nama : Andi
Umur : 20
Prodi : TRK

# Praktikum 6 - For dengan Enumarate

In [ ]:
daftar = ["Andi", "Budi", "Cici"]

for i, nama in enumerate(daftar, start = 1):
  print(i, nama)

1 Andi
2 Budi
3 Cici

# Praktikum 7 - Program Kasir Multi-item

In [ ]:
total = 0

while True:
  barang = input("Masukkan nama barang (ketik'selesai'untuk berhenti): ")
  if barang.lower() == "selesai":
    break
  harga = float(input(f"Masukkan harga {barang}: "))
  jumlah = int(input(f"Masukkan jumlah {barang}: "))
  subtotal = harga * jumlah
  total += subtotal

print("\n ===== Struk Belanja =====")
print(f"Total belanja: Rp {total}")

Masukkan nama barang (ketik'selesai'untuk berhenti): Buku
Masukkan harga Buku: 50000
Masukkan jumlah Buku: 2
Masukkan nama barang (ketik'selesai'untuk berhenti): Pulpen
Masukkan harga Pulpen: 5000
Masukkan jumlah Pulpen: 3
Masukkan nama barang (ketik'selesai'untuk berhenti): selesai

 ===== Struk Belanja =====
Total belanja: Rp 115000.0

# Penugasan 3 - Menampilkan Deret Angka

In [ ]:
for i in range(3, 30, 3):
  print(i)

3
6
9
12
15
18
21
24
27

# Penugasan 4 - Hitung Faktorial

In [ ]:
x = int(input("Masukkan bilangan: "))
faktorial = 1
i = 1

while x >= i:
  faktorial *= i
  i += 1

print(f"Faktorial dari {x}, adalah {faktorial}")

Masukkan bilangan: 4
Faktorial dari 4, adalah 24

# Penugasan 5 - Pola Segitiga Terbalik

In [ ]:
for i in range(5, 0, -1):
  for j in range(i):
    print("*", end="")
  print()

*****
****
***
**
*

# Penugasan 6 - Cek Bilangan Prima dengan Break

In [6]:
a = int(input("Masukkan bilangan: "))

prima = True

if a < 2:
  prima = False
else:
  for i in range (2, a):
        if a % i == 0:
          prima = False
          print(f"{a} habis dibagi {i}, jadi bukan bilangan prima.")
          break
if prima:
  print(f"{a} merupakan bilangan prima ")

Masukkan bilangan: 13
13 merupakan bilangan prima

# Penugasan 7 - Tampilkan Hanya Bilangan Genap dengan Continue

In [8]:
for i in range(1, 21):
  if i % 2 == 1:
    continue
  print(i)

2
4
6
8
10
12
14
16
18
20

# Penugasan 8 - Iterasi Dictionary Mahasiswa

In [9]:
data = {"Nama" : "Budi", "Umur" : "21", "Prodi" : "Teknik Komputer"}
for k, v in data.items():
  print (k, ":" ,v)

Nama : Budi
Umur : 21
Prodi : Teknik Komputer

# Penugasan 9 - Enumerate dengan Barang

In [10]:
barang = ["Buku", "Pulpen", "Tas"]

for i, name in enumerate(barang, start = 1):
  print(i, name)

1 Buku
2 Pulpen
3 Tas

# Penugasan 10 - Studi Kasus-Kasir diskon

In [34]:
total = 0

while True:
  barang = input("Masukkan nama barang (ketik 'selesai' untuk berhenti): ")
  if barang.lower() == "selesai":
    break
  harga = float(input(f"Masukkan harga {barang}: "))
  jumlah = int(input(f"Masukkan jumlah {barang}: "))
  subtotal = harga * jumlah
  total += subtotal

  if total >= 200000:
    diskon = subtotal * 90/100
  else:
    diskon = total

print("\n ===== Struk Belanja =====")
print(f"Total belanja: Rp {diskon:,.0f}")

Masukkan nama barang (ketik'selesai'untuk berhenti): bolepn
Masukkan harga bolepn: 1000
Masukkan jumlah bolepn: 10
Masukkan nama barang (ketik'selesai'untuk berhenti): selesai

 ===== Struk Belanja =====
Total belanja: Rp 10,000