<a href="https://colab.research.google.com/github/mikhael2104/Algoritma_dan_Pemrograman/blob/main/Jobsheet_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Praktikum 1 - Membuat dan mengakses list 1D

In [ ]:
mahasiswa = ["Andi", "Budi", "Cici"]
print(mahasiswa[0])
print(mahasiswa[1])
print(mahasiswa[-1])

Andi
Budi
Cici

# Praktikum 2 - Update dan Operasi Dasar List

In [ ]:
nilai = [85, 90, 78]

nilai[1] = 95
nilai.append(100)
nilai.remove(78)
print(nilai)

[85, 95, 100]

# Praktikum 3 - Slicing List

In [ ]:
nilai = [85, 90, 78, 92, 88]

print(nilai[0:3])
print(nilai[2:])
print(nilai[:3])

[85, 90, 78]
[78, 92, 88]
[85, 90, 78]

# Praktikum 4 - List 2D (Matriks)

In [ ]:
matriks = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print(matriks[0][0])
print(matriks[1][2])
print(matriks[2])

1
6
[7, 8, 9]

# Praktikum 5 - Operasi pada List 2D

In [ ]:
A = [
    [1, 2, 3],
    [4, 5, 6]
]

B = [
    [7, 8, 9],
    [10, 11, 12]
]

C = []

for i in range(len(A)):
  baris = []
  for j in range(len(A[0])):
    baris.append(A[i][j] + B[i][j])
  C.append(baris)
print(C)

[[8, 10, 12], [14, 16, 18]]

# Praktikum 6 - Studi Kasus: Pengelolaan Nilai Mahasiswa

In [ ]:
nilai = [
  [80, 90, 85],
  [70, 75, 80],
  [88, 92, 84]
]

for i, baris in enumerate(nilai, start=1):
  rata = sum(baris) / len(baris)
  print(f"Rata-rata mahasiswa {i}: {rata:.2f}")

Rata-rata mahasiswa 1: 85.00
Rata-rata mahasiswa 2: 75.00
Rata-rata mahasiswa 3: 88.00

# **Bagian Penugasan**

# Penugasan 3 - Akses Elemen List

In [1]:
mahasiswa = ["Mikhael", "Farel", "Faiq", "Tegar", "Dasi"]

print(mahasiswa[0])
print(mahasiswa[-1])
print(mahasiswa[2])

Mikhael
Dasi
Faiq

# Penugasan 4 - Operasi Dasar List teks tebal

In [5]:
nilai = [70, 75, 80]

nilai[2] = 85
nilai.append(90)
nilai.remove(70)

print(nilai)

[75, 85, 90]

# Penugasan 5 - Slicing List

In [22]:
angka = list(range(1, 11))

indeks_genap = angka[::2]

print(angka[:3])
print(angka[-4:])
print(indeks_genap)

[1, 2, 3]
[7, 8, 9, 10]
[1, 3, 5, 7, 9]

# Penugasan 6 - List 2D-Matriks

In [25]:
matriks = [
    [1, 2, 3],
    [4, 5, 6],
]

print(matriks[0][1])
print(matriks[1][2])
print(matriks[0])

2
6
[1, 2, 3]

# Penugasan 7 - Operasi Matriks 2D

In [28]:
bil1 = [
    [1, 2, 3],
    [4, 5, 6]
]

bil2 = [
    [7, 8, 9],
    [10, 11, 12]
]

penjumlahan = []

for i in range(len(bil1)):
  baris = []
  for j in range(len(bil1[0])):
    baris.append(bil1[i][j] + bil2[i][j])
  penjumlahan.append(baris)
print(penjumlahan)

[[8, 10, 12], [14, 16, 18]]

# Penugasan 8 - Rata rata Nilai Mahasiswa

In [30]:
nilai = [
    [75, 80, 85],
    [60, 70, 65],
    [90, 95, 92]
]

for i, baris in enumerate(nilai, start = 1):
  rerata = sum(baris) / len(baris)
  print(f"Rata-rata mahasiswa {i}: {rerata:.2f}")

Rata-rata mahasiswa 1: 80.00
Rata-rata mahasiswa 2: 65.00
Rata-rata mahasiswa 3: 92.33

# Penugasan 9 - Studi Kasus: Data Toko

In [41]:
stok = [
    ["Buku", 20],
    ["Pulpen", 35],
    ["Penghapus", 15]
]

print("Daftar Stok Barang:")
for item in stok:
  print(f"- {item[0]}: {item[1]} buah")

barang_terbanyak = stok[0]

for item in stok:
  if item[1] > barang_terbanyak[1]:
    barang_terbanyak = item

print("\nBarang dengan stok terbanyak:")
print(f"{barang_terbanyak[0]} ({barang_terbanyak[1]} buah)")

Daftar Stok Barang:
- Buku: 20 buah
- Pulpen: 35 buah
- Penghapus: 15 buah

Barang dengan stok terbanyak:
Pulpen (35 buah)