<a href="https://colab.research.google.com/github/mikhael2104/Algoritma_dan_Pemrograman/blob/main/Jobsheet_07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Praktikum 1 - Tuple: Data tetap yang tidak bisa diubah

In [ ]:
koordinat = (7.05, 110.44)
print("Lintang:", koordinat[0])
print("Bujur:", koordinat[1])

Lintang: 7.05
Bujur: 110.44

# Praktikum 2 - Dictionary Dasar: Menyimpan Data Mahasiswa

In [ ]:
mahasiswa = {
    "NIM" : "20251001",
    "Nama" : "Andi",
    "Prodi" : "TRK"
}

print("NIM:", mahasiswa["NIM"])
print("Nama:", mahasiswa["Nama"])
print("Prodi:", mahasiswa["Prodi"])

NIM: 20251001
Nama: Andi
Prodi: TRK

# Praktikum 3 - Operasi pada dictionary

In [ ]:
mahasiswa = {
    "NIM" : "20251001",
    "Nama" : "Andi",
    "Prodi" : "TRK"
}

mahasiswa["Umur"] = 20                  #menambahkan data umur
mahasiswa["Prodi"] = "Teknik Komputer"  #melakukan update pada data prodi
del mahasiswa["NIM"]                    #menghapus data NIM

print(mahasiswa)

{'Nama': 'Andi', 'Prodi': 'Teknik Komputer', 'Umur': 20}

# Praktikum 4 - Set dan Operasi Himpunan

In [ ]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print("Union:", A | B)
print("Intersection:", A & B)
print("Difference:", A - B)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference: {1, 2}

# Praktikum 5 - Studi Kasus: Data Mahasiswa dan Mata Kuliah

In [ ]:
mhs1 = {"Algoritma", "Matematika", "Bahasa Inggris"}
mhs2 = {"Algoritma", "Basis Data", "Matematika"}

print("Mata kuliah Mhs1:", mhs1)
print("Mata kuliah Mhs2:", mhs2)
print("Mata kuliah yang sama:", mhs1 & mhs2)

Mata kuliah Mhs1: {'Bahasa Inggris', 'Algoritma', 'Matematika'}
Mata kuliah Mhs2: {'Matematika', 'Algoritma', 'Basis Data'}
Mata kuliah yang sama: {'Algoritma', 'Matematika'}

# Praktikum 6 - Studi Kasus Dictionary: Daftar Nilai Mahasiswa

In [ ]:
nilai_mahasiswa = {
    "Andi": 80,
    "Budi": 75,
    "Cici": 90
}

for nama, nilai in nilai_mahasiswa.items():
  print(f"{nama}: {nilai}")

rata = sum(nilai_mahasiswa.values()) / len(nilai_mahasiswa)
print(f"Rata-rata nilai: {rata:.2f}")

Andi: 80
Budi: 75
Cici: 90
Rata-rata nilai: 81.67

# **Bagian Penugasan**

# Penugasan 3 - Tuple Sederhana

In [ ]:
mahasiswa = ("Mikhael", "17", "TRK")

print("Nama: ",mahasiswa[0])
print("Umur: ",mahasiswa[1])
print("Prodi: ",mahasiswa[2])

Nama:  Mikhael
Umur:  17
Prodi:  TRK

# Penugasan 4 - Tuple yang tidak bisa diubah

In [ ]:

angka = (1, 2, 3)

angka[0] = 10
#Hal ini dapat terjadi karena tuple tidak mengerjakan yang menjadi tugasnya (data tuple adalah fix, jadi tidak bisa diubah). sehingga hasilnya error

TypeError: 'tuple' object does not support item assignment

# Penugasan 5 - Dictionary Dasar

In [ ]:
buku = {
    "Judul" : "Algoritma",
    "Penulis" : "Munir",
    "Tahun" : 2021
}

print("--Buku yang disimpan--")
print("Judul: ", buku["Judul"])
print("Penulis: ", buku["Penulis"])
print("Tahun: ", buku["Tahun"])

--Buku yang disimpan--
Judul:  Algoritma
Penulis:  Munir
Tahun:  2021

# Penugasan 6 - Operasi Dictionary

In [ ]:
dosen = {
    "NIP" : "12345",
    "Nama" : "Budi",
    "Prodi" : "TRK"
}

dosen["Umur"] = 40
dosen["Prodi"] = "Teknik Komputer"
del dosen["Umur"]

print(dosen)

{'NIP': '12345', 'Nama': 'Budi', 'Prodi': 'Teknik Komputer'}

# Penugasan 7 - Set dan Himpunan

In [ ]:
A = {"Matematika", "Algoritma", "Bahasa Inggris"}
B = {"Algoritma", "Basis Data", "Bahasa Inggris"}

print("Union", A | B)
print("Intersection", A & B)
print("Difference", A - B)

Union {'Algoritma', 'Matematika', 'Bahasa Inggris', 'Basis Data'}
Intersection {'Algoritma', 'Bahasa Inggris'}
Difference {'Matematika'}

# Penugasan 8 - Studi Kasus Dictionary

In [ ]:
nilai_mahasiswa = {
    "Andi" : 85,
    "Budi" : 90,
    "Cici" : 78
}

for nama, nilai in nilai_mahasiswa.items():
  print(f"{nama} : {nilai}")

rerata = sum(nilai_mahasiswa.values()) / len(nilai_mahasiswa)
print(f"Nilai Rata-rata Mahasiswa {rerata:.2f}")

Andi : 85
Budi : 90
Cici : 78
Nilai Rata-rata Mahasiswa 84.33
Rata-rata nilai: 84.33

# Penugasan 9 - Studi Kasus Set: Klub Mahasiswa

In [ ]:
klub_a = {"Andi", "Budi", "Cici"}
klub_b = {"Cici", "Deni", "Eka"}

print("Daftar Seluruh Anggota: ", klub_a | klub_b)
print("Daftar Anggota yang Ada di Kedua Club: ", klub_a & klub_b)
print("Anggota yang hanya ada di Klub A tetapi tidak di Klub B: ", klub_a - klub_b)

Daftar Seluruh Anggota:  {'Andi', 'Eka', 'Cici', 'Budi', 'Deni'}
Daftar Anggota yang Ada di Kedua Club:  {'Cici'}
Anggota yang hanya ada di Klub A tetapi tidak di Klub B:  {'Andi', 'Budi'}